<div class="footer-wrap">
    <div class="author-info">
        <img src="/assets/images/yb_avator.png" />
        <h3 class="footer-author">김영범</h3>
        <a>ybeom.me@gmail.com</a>
        <p>누구나 주체적으로 살 수 있는 세상을 꿈꿉니다.</p>
    </div>
    <div class="footer-nav">
        <nav>
            <ul>
                {% for link in site.data.navigations.main %}
                <li><a href="{{ link.url | relative_url }}">{{link.title}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<div class="footer-end"></div>
