<div class="header-wrap">
    <div class="blog-logo">
        <a href="/">whybe</a>
    </div>
    <nav class="nav-wrap">
        <ul class="nav-box">
            {% for link in site.data.navigations.main %}
            <li class="nav-item">
                <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a class="avator-img-btn">
                    <img src="/assets/images/yb_avator.png" />
                </a>
            </li>
        </ul>
    </nav>
</div>
