---
layout: default
---

<div class="home-banner-wrap">
    <h1 class="main-intro">
        안녕하세요.👋<br />
        누구나 주체적으로 살 수 있는 세상을 꿈꾸는 김영범입니다.<br />
        'Why?에서 시작해서 Be! 실현하는' 개발 일지입니다.
    </h1>
    <div class="sub-intro">
        기계 공학 전공하고 내연기관, CFD를 연구했습니다. 이제는 소프트웨어 개발자로 커리어를 쌓고 있습니다.<br />
        서울, 제주, 목포를 거쳐 변화를 만드는 다양한 기획과 비즈니스를 실험하고 현실로 만들어왔습니다.
    </div>
    <div class="about-btn">
        <button>Portfolio</button>
        <button>About Me</button>
    </div>
</div>
<div class="posts-wrap">
    <h2 class="section-title">Latest Posts</h2>
    <div class="posts-grid-container">
        <div class="main-post-item">
            <div class="main-thumbnail">
                <div class="overlay-img"></div>
                <img src="assets/images/default_post_thumbnail.png" />
            </div>
            <div class="main-post-content">
                <div class="post-tag">
                    <a>Software</a>
                </div>
                <div class="main-post-title">
                    <h1>React로 만드는 반응형 웹사이트</h1>
                </div>
                <div class="main-post-detail">
                    <p>
                        React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여 효과적인 어플리케이션을 구축하는 방법을 기록했습니다. React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여
                        효과적인 어플리케이션을 구축하는 방법을 기록했습니다.
                    </p>
                </div>
                <div class="main-post-date">
                    <p>2022년 9월 16일</p>
                </div>
                <!-- <div class="main-post-render-btn">
                    <button>자세히보기</button>
                </div> -->
            </div>
        </div>
        <div class="sub-post-item">
            <div class="sub-thumbnail">
                <div class="overlay-img"></div>
                <img src="assets/images/default_post_thumbnail.png" />
                <div class="sub-post-tag">
                    <a>Software</a>
                </div>
            </div>
            <div class="sub-post-content">
                <div class="sub-post-title">
                    <h2>안녕하세요. 만나서 반갑습니다 이글의 제목은 000입니다.</h2>
                </div>
                <div class="sub-post-detail">
                    <p>
                        React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여 효과적인 어플리케이션을 구축하는 방법을 기록했습니다. React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여
                        효과적인 어플리케이션을 구축하는 방법을 기록했습니다.
                    </p>
                </div>
                <div class="sub-post-date">
                    <p>2022년 9월 16일</p>
                </div>
            </div>
        </div>
        <div class="sub-post-item">
            <div class="sub-thumbnail">
                <div class="overlay-img"></div>
                <img src="assets/images/default_post_thumbnail.png" />
                <div class="sub-post-tag">
                    <a>Software</a>
                </div>
            </div>
            <div class="sub-post-content">
                <div class="sub-post-title">
                    <h2>안녕하세요. 만나서 반갑습니다 이글의 제목은 000입니다.</h2>
                </div>
                <div class="sub-post-detail">
                    <p>
                        React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여 효과적인 어플리케이션을 구축하는 방법을 기록했습니다. React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여
                        효과적인 어플리케이션을 구축하는 방법을 기록했습니다.
                    </p>
                </div>
                <div class="sub-post-date">
                    <p>2022년 9월 16일</p>
                </div>
            </div>
        </div>
        <div class="sub-post-item">
            <div class="sub-thumbnail">
                <div class="overlay-img"></div>
                <img src="assets/images/default_post_thumbnail.png" />
                <div class="sub-post-tag">
                    <a>Software</a>
                </div>
            </div>
            <div class="sub-post-content">
                <div class="sub-post-title">
                    <h2>안녕하세요. 만나서 반갑</h2>
                </div>
                <div class="sub-post-detail">
                    <p>
                        React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여 효과적인 어플리케이션을 구축하는 방법을 기록했습니다. React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여
                        효과적인 어플리케이션을 구축하는 방법을 기록했습니다.
                    </p>
                </div>
                <div class="sub-post-date">
                    <p>2022년 9월 16일</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="posts-wrap">
    <h2 class="section-title mg-top-100">Software Posts</h2>
    <div class="posts-flex-container">
        <div class="sub-post-item categories">
            <div class="sub-thumbnail">
                <div class="overlay-img"></div>
                <img src="assets/images/default_post_thumbnail.png" />
                <div class="sub-post-tag">
                    <a>Software</a>
                </div>
            </div>
            <div class="sub-post-content">
                <div class="sub-post-title">
                    <h2>안녕하세요. 만나서 반갑</h2>
                </div>
                <div class="sub-post-detail">
                    <p>
                        React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여 효과적인 어플리케이션을 구축하는 방법을 기록했습니다. React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여
                        효과적인 어플리케이션을 구축하는 방법을 기록했습니다.
                    </p>
                </div>
                <div class="sub-post-date">
                    <p>2022년 9월 16일</p>
                </div>
            </div>
        </div>
        <div class="sub-post-item">
            <div class="sub-thumbnail">
                <div class="overlay-img"></div>
                <img src="assets/images/default_post_thumbnail.png" />
                <div class="sub-post-tag">
                    <a>Software</a>
                </div>
            </div>
            <div class="sub-post-content">
                <div class="sub-post-title">
                    <h2>안녕하세요. 만나서 반갑</h2>
                </div>
                <div class="sub-post-detail">
                    <p>
                        React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여 효과적인 어플리케이션을 구축하는 방법을 기록했습니다. React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여
                        효과적인 어플리케이션을 구축하는 방법을 기록했습니다.
                    </p>
                </div>
                <div class="sub-post-date">
                    <p>2022년 9월 16일</p>
                </div>
            </div>
        </div>
        <div class="sub-post-item">
            <div class="sub-thumbnail">
                <div class="overlay-img"></div>
                <img src="assets/images/default_post_thumbnail.png" />
                <div class="sub-post-tag">
                    <a>Software</a>
                </div>
            </div>
            <div class="sub-post-content">
                <div class="sub-post-title">
                    <h2>안녕하세요. 만나서 반갑</h2>
                </div>
                <div class="sub-post-detail">
                    <p>
                        React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여 효과적인 어플리케이션을 구축하는 방법을 기록했습니다. React의 주요 문법과 기능을 배우고 다양한 컴포넌트를 구성하여
                        효과적인 어플리케이션을 구축하는 방법을 기록했습니다.
                    </p>
                </div>
                <div class="sub-post-date">
                    <p>2022년 9월 16일</p>
                </div>
            </div>
        </div>
    </div>
</div>
