---
layout: default
---

<div class="home-banner-wrap">
    <h1 class="main-intro">
        안녕하세요.👋<br />
        누구나 주체적으로 살 수 있는 세상을 꿈꾸는 김영범입니다.<br />
        'Why?에서 시작해서 Be! 실현하는' 개발 일지입니다.
    </h1>
    <div class="sub-intro">
        기계 공학 전공하고 내연기관, CFD를 연구했습니다. 이제는 소프트웨어 개발자로 커리어를 쌓고 있습니다.<br />
        서울, 제주, 목포를 거쳐 변화를 만드는 다양한 기획과 비즈니스를 실험하고 현실로 만들어왔습니다.
    </div>
    <!-- <div class="about-btn">
        <button>Portfolio</button>
        <button>About Me</button>
    </div> -->
</div>
<div class="posts-wrap">
    <h2 class="section-title">Latest Posts</h2>
    <div class="posts-grid-container">
        <div class="main-post-item">
            {% for post in site.posts limit:1 %}
            <a href="{{post.url}}"></a>
            <div class="main-thumbnail">
                <div class="overlay-img"></div>
                {% for image in site.static_files %} {% if image.path contains "assets/images/post" %} {% if image.path contains post.header.fileName %} {% if image.path contains '-th.' %}
                <img src="{{image.path}}" alt="#{{post.title}} 썸네일" />

                {% endif %}{% endif %} {% endif %} {% endfor %}
            </div>
            <div class="main-post-content">
                <div class="post-tag">
                    {% for tag in post.tags %}
                    <a>{{tag}}</a>
                    {% endfor %}
                </div>
                <div class="main-post-title">
                    <h1>{{post.title}}</h1>
                </div>
                <div class="main-post-detail">
                    <p>{{post.description}}</p>
                </div>
                <div class="main-post-date">
                    <p>{{post.date | date: "%Y년 %m월 %d일" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        {% for post in site.posts limit:4%} {% unless post == site.posts.first %}
        <div class="sub-post-item">
            <a href="{{post.url}}">
                <div class="sub-thumbnail">
                    <div class="overlay-img"></div>
                    {% for image in site.static_files %} {% if image.path contains "assets/images/post" %} {% if image.path contains post.header.fileName %} {% if image.path contains '-th.' %}
                    <img src="{{image.path}}" alt="#{{post.title}} 썸네일" />
                    {% endif %}{% endif %} {% endif %} {% endfor %}

                    <div class="sub-post-tag">
                        {% for tag in post.tags %}
                        <a>{{tag}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="sub-post-content">
                    <div class="sub-post-title">
                        <h2>{{post.title}}</h2>
                    </div>
                    <div class="sub-post-detail">
                        <p>{{post.description}}</p>
                    </div>
                    <div class="sub-post-date">
                        <p>{{post.date}}</p>
                    </div>
                </div>
            </a>
        </div>

        {% endunless %} {% endfor %}
    </div>
</div>
