---
layout: default
---

<article class="post-index-container">
  <header class="post-header-wrap">
    <div class="post-thumbnail">
      {% for image in site.static_files %} {% if image.path contains "assets/images/post" %} {% if
      image.path contains page.header.fileName %}{% if image.path contains '-th.' %}
      <img src="{{image.path}}" alt="{{page.title}} 썸네일" />
      {% endif %} {% endif %} {% endif %} {% endfor %}
      <div class="overlay-img"></div>
    </div>
    <div class="post-header-content">
      {% for tag in page.tags %}
      <div class="post-tag"><a>{{tag}}</a></div>
      {% endfor %}
      <h1 class="post-title">{{page.title}}</h1>
      <div class="post-date">{{page.date | date: "%Y년 %m월 %d일" }}</div>
    </div>
  </header>
  <article class="post-article-wrap">{{content}}</article>
  <hr />
  <footer class="post-footer-wrap">
    {% if page.previous.url %} {% for tag in page.previous.tags%}
    <button class="prev-post-btn" onclick="location.href='{{page.previous.url}}'">
      <div class="prev-post-btn-head">이전 글</div>
      <div class="post-tag"><a>{{tag}}</a></div>
      {% endfor %}
      <br />
      <div class="prev-post-btn-title">{{page.previous.title}}</div>
    </button>
    {% endif %} {% if page.next.url %} {% for tag in page.next.tags%}
    <button class="next-post-btn" onclick="location.href='{{page.next.url}}'">
      <div class="next-post-btn-head">다음 글</div>
      <div class="post-tag"><a>{{tag}}</a></div>
      {% endfor %}
      <br />
      <div class="next-post-btn-title">{{page.next.title}}</div>
    </button>
    {% endif %}
  </footer>
</article>
